APP_PORT=5000
REDIS_PORT=6379
APP_MODE=development

CORS_ORIGIN=*

JWT_ACCESS_TOKEN_EXPIRATION=900
JWT_ACCESS_TOKEN_SECRET=jwtaccesstokensecret
JWT_REFRESH_TOKEN_EXPIRATION=7d
JWT_REFRESH_TOKEN_SECRET=jwtrefreshtokensecret

NODEMAILER_EMAIL=sample@gmail.com
NODEMAILER_PASSWORD=password
